/*
 * 2018-03-16 Yale University Library
 */

/*
 * This is the new CSS that pulls in the yale.edu look-and-feel.
 */

/* YaleDesign:  The locally-developed official wordmark and serif font for Yale */
@font-face {
  font-family: 'YaleDesign-Medium';
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-medium-webfont.eot");
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-medium-webfont.eot?#iefix") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-medium-webfont.ttf") format("truetype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: 'YaleDesign-Bold';
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bold-webfont.eot");
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bold-webfont.ttf") format("truetype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'YaleDesign-Italic';
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-italic-webfont.eot");
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-italic-webfont.eot?#iefix") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-italic-webfont.ttf") format("truetype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'YaleDesign-Bold-Italic';
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bolditalic-webfont.eot");
  src: url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bolditalic-webfont.ttf") format("truetype"), url("//libweb.library.yale.edu/fonts/YaleDesign/yaledesign-bolditalic-webfont.woff") format("woff");
}

/* Mallory:  The official sans-serif font of *.yale.edu */
@font-face {
    font-family: 'Mallory-Light';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-Light.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-Light.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-LightItalic';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-LightItalic.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-LightItalic.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-Book';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-Book.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-Book.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-BookItalic';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-BookItalic.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-BookItalic.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-Bold';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-Bold.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-BoldItalic';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-BoldItalic.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-BoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-Medium';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-Medium.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-Medium.woff2") format("woff2");
}
@font-face {
    font-family: 'Mallory-MediumItalic';
    src:    url("//libweb.library.yale.edu/fonts/mallory/Mallory-MediumItalic.woff") format("woff"),
            url("//libweb.library.yale.edu/fonts/mallory/Mallory-MediumItalic.woff2") format("woff2");
}
@font-face {
    font-family: 'customicons';
    src: url("//libweb.library.yale.edu/fonts/custom/customicons.eot");
    src: url("//libweb.library.yale.edu/fonts/custom/customicons.eot?#iefix") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/custom/customicons.woff") format("woff"), url("//libweb.library.yale.edu/fonts/custom/customicons.ttf") format("truetype"), url("//libweb.library.yale.edu/fonts/custom/customicons.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* FontAwesome:  Icons, etc. */
@font-face {
    font-family: 'FontAwesome';
    src: url("/assets/fontawesome-webfont.eot?v=4.1.0");
    src: url("//libweb.library.yale.edu/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("//libweb.library.yale.edu/fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("//libweb.library.yale.edu/fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("//libweb.library.yale.edu/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Mallory-Light';
  background-color: #ffffff;
}

#header {
  background-color: #00356b;
}

/* !important needed to override an explicit !important in style.css line 9 */
#header > div.row {
  border: 0px !important;
}

div.h1 {
  /* mdc: removing this!
  margin-top: 10px;
  */
  /* adding this for the homepage */
  font-family: 'YaleDesign-Medium';
  font-weight: 500;
  color: #ffffff;
  /* adding the font-size back */
  font-size: 2.5em;
}

div.h1 > a,
div.h1 > a:hover {
  font-family: 'YaleDesign-Medium';
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}


nav.navbar {
  border: 0px;
}

/*
  * !important required to override an applicationxxxxx.css (autogen)
  * There is no !important directive in this file.
  */
.top-bar {
  background-color: #000000 !important;
  border: 0px;
}

/*
  * !important required to override color in applicationxxxxx.css (autogen)
  * There is no !important directive in this file for color.
  * The font-size cannot be displayed as there is an !important
  * directive in the applicationxxxxx.css file.
  */
ul.navbar-nav > li > a,
ul.navbar-nav > li > a:hover {
  font-family: 'Mallory-Light';
  color: #ffffff !important;
  text-decoration: none !important;
}

ul.navbar-nav > li > a:hover {
  color: #63aaff !important;
  transition-duration: 0.3s;
}

h1 {
  font-family: 'Mallory-medium';
  color: #555;
  font-size: 1.75em;
  font-weight: 500;
}

h2 {
  font-family: 'Mallory-Medium';
  font-weight: 500;
  font-size: 1.5em;
  color: #00356b;
}

h3 {
  font-family: 'Mallory-Medium';
  font-weight: 500;
  color: #00356b;
}

h4, h2.smaller_gray {
  font-family: 'Mallory-Medium';
  font-weight: 500;
  color: inherit;
  font-size: 1.15em;
}


span.inline-label {
  font-family: 'Mallory-Medium';
}

.btn-dark {
  background-color: #00356b;
  font-size: 1.2em;
  font-family: 'Mallory-Medium';
}

footer.footer {
  background-color: #00356b;
  color: #bbbbbb;
  margin-top: 3em;
}

footer.footer .links {
  padding-top: 20px;
}

footer.footer .links a,
footer.footer .links a:hover {
  color: #ffffff;
  text-decoration: none;
}


div.profile {
  color: #ffffff;
  font-family: 'YaleDesign-Medium';
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin-top: 0px !important;
  padding: 10px 0px 10px 15px;
}

/*
 * Float the breadcrumbs to the top of the page.
 * This should absolutely be changed in code as this
 * is a total hack.

 MDC: Need to come up with another solution to move the breadcrumbs, if desired.
 The proof-of-concept method has negative impacts elsewhere in the site.
 */
 /* for now, i'm just adding some spacing before the breadcrumbs */
div#info_row {
  margin-bottom:1em;
}



/* test for pointer breadcrumbs
a few updated by mdc.... adding color and padding here,
since the classification breadcrumbs don't always have an anchor links
 */
ul.breadcrumb li {
  height: 30px;
  position: relative;
  background: #00356d;
  margin-right: 12px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 5px 0px 20px;
}
ul.breadcrumb li:before {
  content: "" !important;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
ul.breadcrumb li:after {
  content: "" !important;
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #00356d;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


ul.breadcrumb li:first-child:before {
  display: none
}

/*mdc: removing the background color from the default
stylesheet */
.breadcrumb {
  background-color: transparent;
  border: 1px solid #f5f5f5;
}

/*mdc: need one more fix for classificiton pages.
can have a single li, but no Anchor.  in that case, we need to keep the font black.
*/


/* mdc: added :not(:only-child) for searching-within-collection pages */
ul.breadcrumb li:last-child:not(:only-child),
ul.breadcrumb li:last-child:before,
ul.breadcrumb li:last-child:after {
  background-color: unset;
  border: unset;
  padding: unset;
  margin: unset;
  padding: 4px;
  font-family: 'Mallory-Medium';
  color: #000000;
}

ul.breadcrumb li a {
  position: relative;
  display: block;
  color: #ffffff;
}

ul.breadcrumb li:first-child a{
  padding-left: 10px;
}

.record-type-badge {
  font-family: 'Mallory-Medium';
  font-weight: 600;
}

.identifier span.id-label {
  font-family: 'Mallory-Medium';
}


/* footer stuff, first pass (copied from FindIt) */
.footer {
    padding: .5em 0 .5em 0;
    width: 100%;
    height: 10%;
    background-color: #01346B
}

#footer-links {
    float: left;
    margin-left: 35px;
}

#footer-links a {
    color: #fff;
    display: inline-block;
    list-style-type: disc;
    padding: 0.15em 0.15em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
    margin-right: 10px
}

#footer-links a:hover {
    background-color: #014d9e;
    border-bottom: none;
    padding: 0.15em 0.15em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
    text-decoration: none;
    margin-right: 10px
}

#footer-links span {
    /*border-right: solid 1px #014d9e;*/
    margin-right: 5px
}


span.YaleLogo a:hover {
    padding: 5px
}


.sm-icons {
    display: inline-block;
    float: right;
    margin: 1.5em 1em 0 0
}

.sm-icons a {
    color: #fff;
    display: inline-block;
    list-style-type: disc;
    padding: 0.35em 0.4em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
    margin-right: 5px
}

.sm-icons a:hover {
    background-color: #014d9e;
    border-bottom: none;
    padding: 0.35em 0.4em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
    text-decoration: none;
    margin-right: 5px
}

.sm-icons i {
    font-size: 2em
}

.YaleLogo {
    font-family: 'YaleDesign-Medium';
    font-size: 29px;
    line-height: 30px
}

.YaleLogo a {
    color: #fff;
    margin-right: 5px
}

/* mdc: bug fixes for Definition List layout
should update so that this update
is Responsive, as well*/
/* add more width so there's no truncation */
  .dl-horizontal dt {
    width: 190px;
  }
/* add more space between the dt and dd */
.dl-horizontal dd {
  margin-left: 220px;
}

/*mdc: temp change to shrink header a bit */
#header > .row {
  height: 4.7rem;
}

/*mdc: temp fix for font override */
.record-type-badge {
  font-family: "Mallory-Medium";
}

/*mdc: i just can't stand those rounded pills no more */
/* line 109 aspace.scss */
.tabbing.nav-pills > li:first-child a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tabbing.nav-pills > li:last-child a {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 101, aspace.scss */
.tabbing.nav-pills > li > a {
  margin-left: 0px;
}

/* mdc: facet to the rights */
.pull-right {
  float:right;
}

/*mdc: more changes, now for the new sidebar stuff */

@media (min-width: 992px) {
  /* line 855, aspace.scss */
  #sidebar.resizable-sidebar {
    position: relative;
    padding-left: 35px;
  }
  /* line 859, aspace.scss */
  #sidebar.resizable-sidebar .resizable-sidebar-handle {
    background-color: #f9f9f9;
    position: absolute;
    height: 100%;
    width: 25px;
    top: 0;
    left: 0;
    cursor: ew-resize;
    background-image: url(/assets/sidebar_drag_handle.png);
    background-repeat: repeat-y;
    background-position: top;
  }
}
/* line 7, largetree.scss */
.largetree-container {
  background-color: transparent;
}
.largetree-container tr td {
  border-bottom: 1px solid #ddd;
}

/*mdc: uncomment the next 3 declarations for a gray background
for the current section */
/* line 125, largetree.scss */
.largetree-container tr.current {
 /*outline: 1px solid #978d85; */
}
/* line 128, largetree.scss */
.largetree-container tr.current td {
/* background-color: #4a4a4a;*/
}
.largetree-container tr.current td a {
  /*color: #fff;*/
}


/* line 133, largetree.scss */
.largetree-container .indentor {
  background-color: #f9f9f9;
}
/* line 143, largetree.scss */
.largetree-container table.root tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
/* line 146, largetree.scss */
.largetree-container table.root tbody tr:first-child {
     background-color: transparent
}

/*mdc: more changes, just because the non-yale blues are bothering me now */
/* line 101, archivesspace/aspace.scss */
.tabbing.nav-pills > li > a {
  background-color: #286dc0;
}

/*mdc: infinite scroll page stuff (just for testing/finding purposes) */
/*
div.infinite-record-scrollbar {
  background-color: #ddd;
  margin-left: 20px;
}
*/

/* mdc: just because the default gray background is bothering me */
/* line 483, aspace.scss */
.searchstatement {
  background-color: transparent;
}

div.sm-icons a.hashtag {
   vertical-align: middle;
   display:inline-block;
   height: 3em;
}

div.sm-icons a.hashtag:hover {
    background-color: transparent;
    color: #63aaff;
    margin-right: 5px
}

/*mdc: css dropdown stuff for Repositories */
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*needed to keep accessible*/
ul.navbar-nav > li.dropdown > a.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/*mdc: more spacing above the repo badges */
#whats-in-container {
  margin-top: 2.25rem;
}
div.contact_info {
  margin-bottom:1.75rem;
}

/*mdc: link color is virtually impossible to meet
should we underline all links? */
a {
  /*
  text-decoration: underline;
  color: #286dc0;
  */
  font-weight: 700;
}


/* new color suggestions from S&E group.
still need tweaking, and discussion. */

/*mdc: orange too light for the white background:
/* line 49, archivesspace/record-type-badge.scss */
.record-type-badge.subject {
  color: #ca5100;
  border-color: #ca5100;
}
/* line 574, archivesspace/aspace.scss */
button.subject {
  /* class subject also turns up in finding aid transforms */
  color: #ca5100;
}

/* line 21, archivesspace/record-type-badge.scss */
.record-type-badge.resource {
  color: #7608b5;
  border-color: #7608b5;
}
button.resource {
  color: #7608b5;
}

/*mdc:  ugh.  when they added this button to the core code,
they did not add anything to the CSS so that the button
would match the badge color. */
button.accession {
  color: #e01919;
}

/* line 41, archivesspace/record-type-badge.scss */
.record-type-badge.digital_object
, .record-type-badge.classification
, .record-type-badge.repository  {
  color: #000;
  border-color: #000;
}
button.digital_object, button.classification, button.repository {
  color: #000;
}

/* line 25, archivesspace/record-type-badge.scss
adding a new color for archival objects that are a "series"
oi. */
.record-type-badge.archival_object.series {
  color: #0033cc;
  border-color: #0033cc
}

/* stuff for suggestion_correction section */
div.suggest_correction {
  margin: 3em 0 1em 0;
  /*border?*/
  padding: 15px 0;
}
